/* The following block can be included in a custom.scss */

// make the customizations 

$theme-colors: (
   // "warning": rgb(238, 222, 82),
   // "success": rgb(123, 214, 70),
    //"danger": rgb(73, 168, 168)
);

//NavDropdown
.hover,
.focus {
    color: #5E5E5E;
};

.html {
    position: relative;
    //min-height: 100%;
   
  }
  body {
    margin: 50;
    font-family: "Lato", Arial, Helvetica, sans-serif;
  }
  * {box-sizing: border-box}

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

    /* style the container */
  .container {
    position: relative;
    border-radius: 5px;
    //background-color: #f2f2f2;
    padding: 20px 0 30px 0;
  }

  .container-small {
    position: relative;
    border-radius: 30px;
    //background-color: #f2f2f2;
    padding: 60px 20px 80px 20px;
  }

  .bg {
    /* The image used */
    background-image: url("images/login.png");
  
    /* Full height */
    //height: 100%;
    width:800px;
    height:500px;
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (max-width: 650px) {
    .bg {
      /* The image used */
      background-image: url("images/mobile_login.png");
    
      /* Full height */
      //height: 100%;
      width:100%;
      height:100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .join-address {
    width: 550px;
  }

  .warning-sign {
    color: #F7741E;
    font-weight: 300;
    font-size: 0.875rem;
    margin-top: -5px;
    margin-bottom: 10px;
}
  .join-title {
    text-align: center;
    font-weight: 400;
    font-size: 1.875rem;
    letter-spacing: -1.5px;
  }

  .form-title {
    font-weight: 300;
    font-size: 1.275rem;
    letter-spacing: -0.56px;
    padding-bottom: 0px;
  }

  @media only screen and (min-width: 650px) {
    .brick-join {
      position: relative;
      width: 100%;
      padding: 0px 0px;
  }
  }

.brick-join {
    width: 100%;
    padding: 80px 0px;
}

.imageCircle {
    display: inline-block;
    position: relative;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    background-image: url("images/Gender_Neutral_User_icon-icons.com_55902.png");
}

input, input:focus {
  outline: none !important;
  box-shadow: none !important;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.imageJoin {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.imageJoin input[type=file] {
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}
input[type="file"] {
  display: block;
}

input[type="file" i] {
  appearance: initial;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  padding: initial;
  border: initial;
  overflow: hidden;
}

.imageJoin .icon-camera_icon {
  position: absolute;
  right: -4px;
  bottom: 0;
  padding: 8px;
  font-size: 16px;
  color: #999;
  line-height: 1;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}

.form-control-file, .form-control-range {
  position: absolute;
  right: -4px;
  bottom: 0;
  padding: 8px;
  font-size: 16px;
  color: #999;
  line-height: 1;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}
.imageJoin .icon-camera_icon {
  position: absolute;
  right: -4px;
  bottom: 0;
  padding: 8px;
  font-size: 16px;
  color: #999;
  line-height: 1;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}

  @media only screen and (min-width: 650px) {
    .from-join {
      max-width: none;
      width: 100%;
  }
  }

  .from-join {
    margin: 0 auto;
    background: #fff;
  }

  .form-login {
    position: absolute;
    top: 28%;
    left: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 5px;
    //background-color: #f2f2f2;
    //padding: 20px 0 30px 0;
    max-width: 864px;
    padding: 0;
  }
  @media screen and (max-width: 650px) {
    .form-login {
      position: relative;
      top: 0%;
      left: 0%;
      margin: 0 0 0 0;
      border-radius: 5px;
      //background-color: #f2f2f2;
      //padding: 20px 0 30px 0;
      //max-width: 864px;
      //padding: 0;
    }
  }
  
    
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }

hr {
  height: 30px;
}

.add-new-post__editor .ql-container,
.add-new-post__editor .ql-editor {
  min-height: 400px;
}

.badge-custom {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Graphik Web", Helvetica, Arial, sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}

.nav-link {
  font-size: medium;
  font-weight: bolder;
}
.nav-link-icon i.material-icons {
  font-size: 2rem;
}

@media (max-width: 991px) and (min-width: 768px) {
  .profile_section {
    margin: 0 auto;
  }
}


@media (max-width: 991px) and (min-width: 768px) {
  .profile_section {
    width: 90%;
  }
}



.profile_brick {
  padding: 42px 20px 30px;
  text-align: center;
}

.profile_aside {
  top: 0;
  left: 0;
  width: 250px;
  position: absolute;
  background: #fff;
  border: 1px solid #e1e2e3;
  border-radius: 3px;
}

.profile_section {
    position: relative;
    max-width: 1060px;
    padding: 0 0 90px;
}

.profile {
  position: relative;
}

.profile_title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  padding: 50px 0 20px;
}

.ql-editor > * {
  cursor: text;
  //height: 500px;
}

/* import bootstrap to set changes */

@import '~bootstrap/scss/bootstrap.scss';